# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
packages/
*.nupkg

# ASP.NET
appsettings.*.json
!appsettings.json
!appsettings.Development.json

# OS files
.DS_Store
Thumbs.db

# MSIX build output
AppPackages/
